<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8"></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0" *ngIf="mode==1">Crear teatro</h3>
          <h3 class="mb-0" *ngIf="mode==2">Ver teatro</h3>
          <h3 class="mb-0" *ngIf="mode==3">Actualizar teatro</h3>
        </div>
        <div class="card-body">
            <form class="form" [formGroup]="formGroup">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            Id:
                        </div>
                        <div class="col-8">
                            {{theater.id}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            Ubicación:
                        </div>
                        <div class="col-8">
                            {{theater.location}}
                            <input type="text" class="form-control" [(ngModel)]="theater.location" [disabled]="mode==1" formControlName="location">
                            <div *ngIf="getFormGroup.location.errors && (getFormGroup.location.dirty || getFormGroup.location.touched || submitAttempted)">
                                <strong *ngIf="getFormGroup.location.errors.required" class="msnError">Requerido</strong>
                                <strong *ngIf="getFormGroup.location.errors.minlength" class="msnError">Mínimo 2 caracteres</strong>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            Capacidad:
                        </div>
                        <div class="col-8">
                            {{theater.capacity}}
                            <input type="text" class="form-control" [(ngModel)]="theater.capacity" [disabled]="mode==1" formControlName="capacity">
                            <div *ngIf="getFormGroup.capacity.errors && (getFormGroup.capacity.dirty || getFormGroup.capacity.touched || submitAttempted)">
                                <strong *ngIf="getFormGroup.location.errors.required" class="msnError">Requerido</strong>
                                <strong *ngIf="getFormGroup.capacity.errors.min" class="msnError">Mínimo 1</strong>
                                <strong *ngIf="getFormGroup.capacity.errors.max" class="msnError">Mínimo 100</strong>
                            </div>
                        </div>
                    </div>
                </div>
			</form>
        </div>
      </div>
    </div>
  </div>
</div>